<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <!--use commas with no spaces-->
        <add key="Callsigns" value="N4LX,KV4S"/>
        <add key="Unattended" value="N"/>
    </appSettings>
</configuration>